{% extends 'base.html' %}

{% block body %}

    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>

    <hr>

    <h3>comment</h3>

    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token %}
        {{comment_form}}
        <input type="submit">
    </form>

    {% if not article.comment_set.all|length %}
        <p>댓글이 없습니다.</p>
    {% endif %}
    
    {% for comment in article.comment_set.all %}
        <p>
            {{comment.content}} 
            <a href="{% url 'articles:comment_delete' article_id=article.id id=comment.id %}">X</a> 
        </p>
        
    {% endfor %}

{% endblock %}